body, p{
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
}
.checked{
    color: orange;
}
.con{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.con .card{
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.con .card .item{
    padding: 15px;
    margin-bottom: 80px;
    max-height: fit-content;
}
.con .card .item p{
    color: rgba(114, 114, 114, 0.836);
}

.rate{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 80px;
    margin-bottom: 10px;
}
.rate h3{
    margin: 0;
}
.con .card .btn{
    width: 100%;
    background-color: rgb(59, 114, 114);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    bottom: 0;
}
.img_con{
    width: 100%;
    align-items: center;
}
img{
    width: 40%;
}

.btn p{
    padding: 10px;
    color: white;
    font-style: bold;
    font-weight: 700;
}