body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(13, 219, 219);
    height: 100px;
    margin: 15px;
    position: relative;
    border-radius: 16px;
}
header{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: x-large;
    transform: translate(-50%, -50%);
    margin: 0;
}
.nav{
    background-color: rgb(13, 219, 219);
    height: 50px;
    margin: 15px;
    position: relative;
    border-radius: 16px;
}
nav{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: x-large;
    transform: translate(-50%, -50%);
    margin: 0;
}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    margin: 15px;
}
.sidebar{
    background-color: rgb(13, 219, 219);
    height: 600px;
    margin-right: 16px;
    position: relative;
    border-radius: 16px;
    width: 20%;
}
.sidebar p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: x-large;
    transform: translate(-50%, -50%);
    margin: 0;
}
.content{
    background-color: rgb(13, 219, 219);
    height: 600px;
    position: relative;
    border-radius: 16px;
    width: 80%;
}
.content p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: x-large;
    transform: translate(-50%, -50%);
    margin: 0;
}
.footer{
    background-color: rgb(13, 219, 219);
    height: 120px;
    margin: 15px;
    position: relative;
    border-radius: 16px;
}
footer{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: x-large;
    transform: translate(-50%, -50%);
    margin: 0;
}