body{
    margin: 15px;
}

.header{
    background-color: rgb(206, 154, 206);
    height: 120px;
    position: relative;
    border: 3px solid black;
    display: flex;
    align-items: center;
}

h1{
    font-weight: lighter;
    width: 25%;
    margin: 10px;
}

.nav{
    background-color: aquamarine;
    width: 75%;
    border: 3px solid black;
    margin-right: 20px;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
    height: 680px;
}
.article{
    width: 78%;
    height: 680px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}
.item{
    background-color: aquamarine;
    border: 3px solid black;
    height: 45%;
    position: relative;
}
.new h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.sidebar{
    width: 20%;
    height: 680px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}
.bar{
    background-color: rgb(85, 85, 230);
    border: 3px solid black;
    height: 638px;
    position: relative;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: xx-large;
}

.footer{
    background-color: rgb(206, 154, 206);
    height: 80px;
    position: relative;
    border: 3px solid black;
}
footer{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    margin: 0;

}
