body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    font-family: "Barlow Condensed" , sans-serif;
}
.nav{
    width: 20%;
    margin: 0;
    text-align: right;
    background-color: rgb(103 232 249);
}
.nav h1{
    color: rgb(22 64 91);
    margin: 0 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(22 64 91);
    font-weight: 700;
}
ul li{
    list-style: none;
}
ul li:hover{
    background-color: rgb(22 64 91);
    cursor: pointer;
    color: #fff;
}
.menu{
    padding: 0;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: rgb(22 64 91);
}
.select{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.select h3{
    margin-right: 8px;
    font-size: 26px;
}

.content{
    background-color: rgb(236 254 255);
    width: 80%;
    display: block;
    color: rgb(22 64 91);

}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin: 0 3rem;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(22 64 91);
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0 0.5rem;
  min-height: 50px;
  padding: 6px 12px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 8%;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: rgb(22 64 91);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.content h1{
    margin: 0 3rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}
.content h3{
    font-size: 1.875rem;
    margin: 0 3rem;
    margin-top: 30px;
}
hr{
    margin: 15px 3rem;
    border: 1px solid rgb(22 64 91);
}
.movie{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
    padding: 0 3rem;
}
.item{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(22 64 91);
    border-radius: 8px;
}
.item img{
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
}
.item:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.time{
    display: flex;
    justify-content: space-between;
    left: 0.5rem;
    align-items: center;
    min-width: 25%;
    position: absolute;
    top: 0.5rem;
    border-radius: 8px;
    padding: 0 0.5rem;
    background-color: rgb(236 254 255);
}
.desc{
    color: #fff;
    padding: 0 1rem;
}
.desc h4{
    font-size: 1.5rem;
}
.bottom{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  border-color: rgb(22 64 91);
  color: rgb(22 64 91);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .5s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
}

.button-80:not(:disabled):hover {
  transform: scale(1.2);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}
.button-80:hover{
    background-color: rgb(22 64 91);
    color: #fff;
}
.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}
.desc p{
    font-size: 20px;
    margin-top: 0;
}
.desc h4{
    margin-bottom: 10px;
}
@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .menu{
    animation: enter-animation 0.8s 1;
  }
}