.con_item {
    width: 100%;
    border-radius: 12px;
    
    &--imgcon{
        width: 100%;

        &--text{
            position: relative;
            bottom: 0;
            display: flex;
            padding: 24px;
            justify-content: space-between;
            width: 100%;
        }
    }
}
img{
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    margin: auto;
    max-height: 280px;
}